*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

<<<<<<< HEAD
=======
@font-face {
  font-family: ;
  src: url();
}

img {
  width: 100%;
  height: auto;
  display: block;
}
>>>>>>> 3103284ca2528bbd699b6184d994b4ab932f29ef
