*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@font-face {
  font-family: dansestudietdisplay1;
  src: url("dansestudietdisplay1-webfont.woff2") format("woff2");
}

@font-face {
  font-family: inter;
  src: url("inter-variablefont_slntwght-webfont.woff2") format("woff2");
}

img {
  width: 100%;
  height: auto;
  display: block;
}
