---
import Hero from "../components/Hero.astro";
import Genre from "../components/Genre.astro";
import Lab from "../components/Lab.astro";
import DansePortraetter from "../components/DansePortraetter.astro";
import Velkommen from "../components/Velkommen.astro";
import Workshop from "../components/Workshop.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="./styles/global.css" />
		<title>Astro</title>
	</head>
	<body>
		<Header/>
		<Hero/>
		<Velkommen/>
		<Genre/>

		
		
		<div class="background">
			<h2 class="forestillinger">Forestillinger</h2>

		<div class="grid1">
			<Workshop/>
			<Lab/>
		</div>
		</div>

		<DansePortraetter/>

	</body>

	<Footer/>

</html>

<style>


.grid1 {
		display: grid;
		overflow: hidden;
		grid-template-columns: 1fr 1fr;
		padding: 10px;
		gap: 30px;
		margin-inline: 320px;
		background-color: #196472;
	}

	.background {
		background-color: #196472;
	}

	.forestillinger {
		text-align: center;
		font-size: 64px;
		background-color: #196472;
		margin: 0;
		font-family: "dansestudietdisplay1" ;
        color: #FFFCFB;
        font-weight: lighter;
		padding-top: 40px;
	}

	body{
		margin: 0;
		padding: 0;
		gap: 0;
	}

@media (max-width: 600px) {
	.grid1 {
		display: grid;
		grid-template-columns: 1fr;
		padding: 10px;
		gap: 30px;
		margin-inline: 20px;
		background-color: #196472;
	}

	.forestillinger {
		text-align: center;
		font-size: 44px;
		background-color: #196472;
		margin: 0;
		font-family: "dansestudietdisplay1" ;
        color: #FFFCFB;
        font-weight: lighter;
		padding-top: 40px;
	}
}


</style>


