---
import Hero from "../components/Hero.astro";
import Genre from "../components/Genre.astro";
import Lab from "../components/Lab.astro";
import DansePortraetter from "../components/DansePortraetter.astro";
import Velkommen from "../components/Velkommen.astro";
import Workshop from "../components/Workshop.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
		<Hero/>
		<Velkommen/>
		<Genre/>
		<Workshop/>
		<Lab/>
		<DansePortraetter/>
		<img src="../assets/portrat.1.png" alt="">
		

	</body>
</html>
