---

---

<!-- <section class="knap"> -->
<div class="knap">
  <a href="#" class="button">Se Skema Her</a>
</div>
<!-- </section> -->

<style>
  .knap {
    background-color: #fff3f2;
    justify-content: center;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 130px;
    
  }

  .button {
    background-color: #dbadb1;
    border-radius: 4px;
    color: #196472;
    font-size: 30px;
    text-decoration: none;
    padding: 20px;
    font-family: "dansestudietdisplay1";
    font-weight: bold;
  }
</style>
