---
---
<!-- <section class="knap"> -->
    <div class="knap">
<a href="#" class="button">Link Button</a>
    </div>
<!-- </section> -->



<style>

.knap{
background-color:#FFF3F2;
justify-content:center;
text-align:center;
} 

.button{
background-color:#DBADB1;
border-radius: 4px;
color: #196472;
text-decoration: none;
padding: 10px;

}

</style>

