---
import { Image } from "astro:assets";
---

<div class="background">
<h1>Danseportrætter</h1>

<div>

    <img src="/src/assets/portrat.1.png" alt="potraet1">
    <img src="/src/assets/portrat.2.png" alt="potraet2">
    <img src="/src/assets/portrat.3.png" alt="potraet3">
    <img src="/src/assets/portrat.4.png" alt="potraet4">
    <img src="/src/assets/portrat.5.png" alt="potraet5">
    <img src="/src/assets/portrat.6.png" alt="potraet6">

</div>

</div>


<style>

.background {
    background-color: #196472;
}


</style>