<div class="backgorund">
<h1>Danseportrætter</h1>

<div>

    <img src="" alt="">
    <img src="" alt="">
    <img src="" alt="">
    <img src="" alt="">
    <img src="" alt="">
    <img src="" alt="">
</div>

</div>


<style>

.background {
    background-color: ;
}


</style>