---
import { Image } from "astro:assets";
---

<div class="background">
<h2>Danseportrætter</h2>

<section class="grid">
    <img class="img1" src="/src/assets/portrat.1.png" alt="potraet1">
    <img class="img2"src="/src/assets/portrat.2.png" alt="potraet2">
    <img class="img3"src="/src/assets/portrat.3.png" alt="potraet3">
    <img class="img4"src="/src/assets/portrat.4.png" alt="potraet4">
    <img class="img5"src="/src/assets/portrat.5.png" alt="potraet5">
    <img class="img6"src="/src/assets/portrat.6.png" alt="potraet6">
</section>

</div>


<style>

    h2{
        font-size: 64px;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        color: #FFF3F2;
        font-family:"dansestudietdisplay1";
        font-weight: lighter;
    }

.background {
    background-color: #0C3C52;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: auto;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.grid img{
width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 820px) {
    .grid{
    display: grid;
    grid-template-columns: 1fr;
}
  }

</style>