---
import Button from "../components/Button.astro";
---

<section class="grid3">
  <ul class="genre-list">
    <li>Experimental Contemporary</li>
    <li>Afro</li>
    <li>Street Jazz</li>
    <li>Commercial Femme</li>
    <li>ballet</li>
  </ul>

  <ul class="genre-list">
    <li>Hip Hop</li>
    <li>Moderne Dans</li>
    <li>Smidighedstræning</li>
    <li>House</li>
    <li>Breakdance</li>
  </ul>

  <ul class="genre-list">
    <li>Fusion Contemporary</li>
    <li>Yoga</li>
    <li>Waacking</li>
    <li>Workshops m.m.</li>
  </ul>
</section>
<div>
  <Button />
</div>
<style>
  .grid3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 0px;
    padding-left: 130px;

    text-align: left;
    list-style-type: none;
    background-color: #fff3f2;
    font-family: "dansestudietdisplay1";
    /* padding: 40px; */
    font-size: 20px;
  }

  .genre-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    padding-top: 40px;
  }

  @media (max-width: 820px) {
    .grid3 {
      display: grid;
      grid-template-columns: 1fr;
    }
  }
</style>

<script></script>
