---

---

<section class="grid3">
    <div class="første">
    <li> Experimental Contemporary</li> 
        <li>   Afro House</li> 
            <li> Street Jazz</li> 
                <li> Commercial Femme</li> 
                <li> Breakdance </li>
    </div>

    <div class="anden">
        <li> Experimental Contemporary</li> 
        <li>   Afro </li> 
        
            <li> Street Jazz</li> 
                <li> Commercial Femme</li> 
    </div>

    <div class="tredje">
        <li> Fusion Contemporary</li> 
        <li>  Yoga </li> 
            <li>Waacking</li> 
            <li> House </li>
                <li> Workshops m.m.</li> 
    </div>
</section>

<style> 

.grid3{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    padding: 5%;
    gap: 2px;
    list-style-type: none;
    background-color:#FFF3F2;
}
</style> 


<script> 
</script> 