---

---

<section class="grid3">
  <ul class="genre-list">
    <li>Experimental Contemporary</li>
    <li>Afro</li>
    <li>Street Jazz</li>
    <li>Commercial Femme</li>
    <li>ballet</li>
  </ul>

  <ul class="genre-list">
    <li>Hip Hop</li>
    <li>Moderne Dans</li>
    <li>Smidighedstræning</li>
    <li>House</li>
    <li>Breakdance</li>
  </ul>

  <ul class="genre-list">
    <li>Fusion Contemporary</li>
    <li>Yoga</li>
    <li>Waacking</li>
    <li>Workshops m.m.</li>
  </ul>
</section>

<style>
  .grid3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    text-align: left;
    list-style-type: none;
    background-color: #fff3f2;
    font-family: "dansestudietdisplay1";
    padding: 40px;
    font-size: 32px;
  }

  .genre-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
</style>

<script></script>
