

<div class="header">
    <h1>Header</h1>
  </div>

<style>
.header {
    background: #1abc9c;
    color: white;
    font-size: 10px;
  }

  h1{
    margin-top: 0;
    margin-bottom: 0;
    text-align: start;
  }

  p{
    margin-top: 0;
    margin-bottom: 0;
    text-align: end;
  }
</style>