<div class="container">
<video class="video" autoplay muted loop>
    <source src="/public/video/Film til header .mov">
</video>
<div>
    <h1 class="overskrift">Dansestudiet</h1>
</div>
</div>

<style>
.container {
    position: relative;
  }

.video{
    width: 100%;
    height: auto;
}
  .overskrift {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -130%);
    text-transform: uppercase;
    font-weight: 800;
    color: #FFF3F2;
    font-size: 150px;
    font-family:"dansestudietdisplay1";
  }

  @media (max-width: 820px) {
    .overskrift{
      font-size: 50px;
      transform: translate(-50%, -130%);
}
  }
</style>