<div class="lab">
    <img src="/src/assets/Forstilling.2.png" alt="billede2">
    <h2>Movement LAB</h2>
    <h3>Løndag & Søndag d. 3. & 4. februar 2024. Begge dage Kl.13-16</h3>
    <p>Vittoria Lasorella er tilbage og vi glæder os til dette længe ventede Movement LAB med hende. Åben for tilmelding!</p>
   </div>

   <style>
    img {
        width: 99%;
    }

    .lab {
        padding: 20px;
    }
</style>