---
---

<section class="grid1">
    <div class= "overskrift">
<h1> VELKOMMEN TIL DANSESTUDIET </h1>
<h2> TILMELDING TIL EFTERÅRSSÆSON FOR 2023 ER STADIG ÅBEN </h2> 
</div>
</section>

<style>

.overskrift{
    text-align: center;
    display: grid;
    background-color:#FFF3F2;
}

h2{
    font-family: "dansestudietdisplay1";
    font-weight: lighter;
}



</style>

<script> 
</script>

