<div class="workshop">
  <img src="./assets/forestilling1.png" alt="billede1" />
  <div class="gap">
    <h2>Månedens Workshop</h2>
    <h3>December Søndag d. 10. december kl. 14-16</h3>
    <p>
      Anna Zacho medstifter af “The Edge Dance Space” kommer hjem fra London for
      at give en Commercial Performance workshop med lækker energi. Lad os danse
      sammen til den sidste MW i år.
    </p>
  </div>
  <div class="knap">
    <button>Se forestillinger her</button>
  </div>
</div>

<style>
  h2 {
    font-family: "dansestudietdisplay1";
    color: #fffcfb;
    font-weight: lighter;
  }

  h3 {
    font-family: "avenir next";
    color: #fffcfb;
    font-weight: lighter;
    font-size: 18px;
  }

  p {
    font-family: "avenir next";
    color: #fffcfb;
    font-weight: lighter;
    font-size: 15px;
  }

  img {
    width: 100%;
  }

  .workshop {
    padding: 20px;
  }

    button {
        background-color: #196472;
        border-radius: 4px ;
        border-color: #FFDF4C;
        width: 100%;
        color: #FFFCFB;
        padding-top: 10px;
        padding-bottom: 10px;
        font-family: "dansestudietdisplay1" ;
        font-weight: lighter;
        font-size: 20px;
    }
  .knap {
    padding-top: 40px;
    
   
  }

  button {
    background-color: #196472;
    border-radius: 4px;
    border-color: #ffdf4c;
    width: 100%;
    color: #fffcfb;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: "dansestudietdisplay1";
    font-weight: lighter;
    font-size: 20px;
    
  }

  button:hover {
    background-color: #ffdf4c;
    color: #196472;
  }
</style>
