<div class="workshop">
 <img src="/src/assets/Forstilling.1.png" alt="billede1">
 <div class="gap">
 <h2>Månedens Workshop</h2>
 <h3>December Søndag d. 10. december kl. 14-16</h3>
 <p>Anna Zacho medstifter af “The Edge Dance Space” kommer hjem fra London for at give en Commercial Performance workshop med lækker energi. Lad os danse sammen til den sidste MW i år.</p>
</div>
<button>Se forestillinger her</button>
</div>

<style>

    h2 {
        font-family: "dansestudietdisplay1" ;
        color: #FFFCFB;
        font-weight: lighter;
        }

        h3 {
            font-family: "avenir next" ;
        color: #FFFCFB; 
        font-weight: lighter;
        font-size: 18px;
        }

        p {
            font-family: "avenir next" ;
        color: #FFFCFB; 
        font-weight: lighter;
        font-size: 15px; 
        }
    img {
        width: 100%;
    }

    .workshop {
        padding: 20px;
    }

    button {
        background-color: #196472;
        border-radius: 4px ;
        border-color: #FFDF4C;
        width: 100%;
        color: #FFFCFB;
        

    }

</style>